.signup-form {
    width: 360px;
    height: auto;
}

.name-field .prefix-icon {
    color: #81878c;
}

/*--------dropdown--------*/

.dropdown {
    width: 100%;
    position: absolute;
    margin-top: 4px;
    outline: none;
    top: 100%;
    left: 0;
    z-index: 4;
    padding: 8px 16px 16px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .15), 0 1px 2px 0 rgba(0, 0, 0, .07), 0 0 1px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .15), 0 1px 2px 0 rgba(0, 0, 0, .07), 0 0 1px 0 rgba(0, 0, 0, .2);
}

.display-none {
    display: none;
}

.toggle {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform .3s cubic-bezier(.25, .46, .45, .94);
    transition: -webkit-transform .3s cubic-bezier(.25, .46, .45, .94);
    transition: transform .3s cubic-bezier(.25, .46, .45, .94);
    transition: transform .3s cubic-bezier(.25, .46, .45, .94), -webkit-transform .3s cubic-bezier(.25, .46, .45, .94);
}

.rotate-180 {
    transform: rotate(180deg);
    color: #1f7ae0;
}

input [type=number], input [type=tel] {}

.start-subscription {
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2), 0 4px 10px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2), 0 4px 10px 0 rgba(0, 0, 0, .05);
    width: 256px;
    border-radius: 4px;
    padding: 16px;
    float: left;
}

.head-section {
    width: 100%;
    float: left;
    border-bottom: 1px solid #dde0e4;
}

.diamond-icon {
    width: 32px;
    height: 32px;
    background: var(--default-color);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 8px;
}

.head-content {
    float: left;
}

sub {
    display: block;
    margin-top: 2px;
    color: #81878c;
}

.icon-diamond:before {
    color: white;
}

.form-content{
    width: 100%;
    float: left;
}



input.country-code {
    width: 30%;
    margin-right: 8px;
}

span.phone {
    width: 80%;
}